:root{
    margin: 0;
    padding: 0;
}

.estilo-label{
    height: 25px;
    color: white;
    width: 150px;
    border-radius: 4px;
    background: #0275d8
}

.estilo-label:hover{
    cursor: pointer;
    background: #266DB8;
}

.invisible{
    display: none !important;
}